.products-list {
  display: grid;
  width: 100%;
  padding-top: 10px;
}
.products-list {
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 501px) {
  .products-list {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 770px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
