.products-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mini-servicios-container,
.ofertas-container,
.suscribite-section,
.beneficiosMP-section {
  padding: 30px 90px;
}
.ofertas-container {
  display: flex;
  flex-direction: column;
}
.ofertas-subtitle {
  display: flex;
  text-align: left;
  align-items: baseline;
  gap: 20px;
}
.products-slide {
  /* display: flex;
  overflow: hidden; */
}
