.product-card {
  max-width: 600px;
}
.product-card :hover {
  transition: 0.2s;
  /* scale: (1.5px); */
  transform: scale(1.02);
  box-shadow: 1px 3px 10px 0px;
  color: rgb(110, 110, 115);
}
.product-card > * :hover {
  box-shadow: none;
  transform: none;
}
.product-item {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  height: 100%;
}
.product-item-img {
  width: 180px;
  height: 180px;
  /* width: 100%;
  height: 100%; */
}

.product-item-title,
product-item-id,
product-item-price {
  width: 100%;
}

.product-item-img-container {
  padding: 5px;
  border-bottom: solid 0.5px;
  max-width: 100%;
}

.product-item-info {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
