.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #fff159;
  padding: 10px;
  align-items: center;
}
@media (max-width: 500px) {
  .header {
    height: 70px;
    padding: 0px 20px;
  }
}
.inp {
  height: 40px;
  width: 40%;
  border: none;
  padding: 0 15px;
  font-size: 18px;
}
.inp :focus {
  outline: none;
  border: none;
}
*:focus {
  outline: none;
}
@media (max-width: 500px) {
  .inp {
    flex-grow: 0.7;
  }
}
.btn-container {
  height: 40px;
  width: 5%;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .btn-container {
    display: none;
  }
}
.btn {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  border-left: 1px solid #e6e6e6;
}
.form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
}
@media (max-width: 500px) {
  .logo {
    width: 40px;
    height: auto;
  }
}
.ofertas {
  margin-right: 20px;
}
@media (max-width: 500px) {
  .ofertas {
    display: none;
  }
}

.img-lupa {
  width: 25px;
}
.carrito {
  width: 30px;
}
.category-list {
  font-size: 22px;
  margin: 8px;
}
.flecha {
  width: 15px;
  height: 15px;
}
.cat-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 500px) {
  .cat-wrapper {
    display: none;
  }
}

.number-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span {
  font-size: 14px;
  padding: 0px 3.5px;
  border-radius: 40%;
  text-align: center;
  background-color: rgb(214, 94, 194);
  position: relative;
  top: 12px;
  left: 12px;
}
