.list-of-cat {
  text-align: start;
}

@media (max-width: 500px) {
  .list-of-cat {
    position: fixed;
    left: 11%;
    padding: 30px;
    overflow: auto;
    background-color: rgb(189, 216, 216);
    border-radius: 8px;
    height: calc(100vh - 200px);
  }
  .show-of {
    display: none;
  }
  .show-on {
    display: block;
  }
}
