.products-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  border: solid grey 0.5px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .wrapper {
    gap: 0px;
    padding: 5px;
  }
}
.title {
  font-size: 30px;
  font-weight: 200;
}
@media (max-width: 500px) {
  .title {
    font-size: 20px;
    margin: 5px 0px;
  }
}
.img {
  width: 200px;
  border-radius: 8px;
}

.btn-detail-comprar {
  width: 100%;
}
.info-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.price {
  font-size: 25px;
  font-weight: 500;
}
@media (max-width: 500px) {
  .price {
    font-size: 15px;
    margin: 5px 0px;
  }
}
.compra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.total {
  font-size: 20px;
}

.trash-bin {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 50px;
}
@media (max-width: 500px) {
  .trash-bin {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }
}
